# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

.next
/.next
/.next/
.next/dev/
.next/dev
.next/dev/server/app/page_client-reference-manifest.js
.next/dev/server/chunks/ssr/_d921d42d._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__a12cad3f._.js.map
.next/dev/static/chunks/_fd6cfe4e._.js.map
.next/dev/static/chunks/app_page_tsx_8107ca8f._.js

# typescript
*.tsbuildinfo
next-env.d.ts
